
.litpos {
    color: blue;
    fill: blue;
}
.litneg {
    color: red;
    fill: red;
}

.litinmus .litbox {
    stroke: yellow;
}

.litknown {
    color: purple;
    fill: purple;
    font-weight: bold;
}
.litinmus {
    background-color: rgb(255, 115, 0);
    font-weight: bold;
}

.puzzle {
    font-family: Garamond, serif;
}

.litbox {
    stroke-width: 0.02;
    stroke: blue;
    fill: none;
}

.highlight_con0 rect {
    background-color: #d0ffff;
    fill:  #d0ffff;
}

.highlight_con1 rect {
    background-color: #ffd0ff;
    fill:  #ffd0ff;

}

.highlight_con2 rect {
    background-color: #ffffd0;
    fill: #ffffd0;
}

.highlight_con3 rect {
    background-color: #d0d0ff;
    fill: #d0d0ff;
}

.highlight_con4 rect {
    background-color: #d0ffd0;
    fill: #d0ffd0;
}