<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Demystify</title>
    <link href="ext/bootstrap.min.css" rel="stylesheet">
    <script src="ext/bootstrap.bundle.min.js"></script>
    <script src="ext/htmx.js"></script>
    <script src="ext/response-targets.js"></script>
    <link href="base/base.css" rel="stylesheet">
    <script src="base/base.js"></script>
    <script>
      window.addEventListener('load', function() {
        htmx.onLoad(x => {doJavascript()});
      });
    </script>
  </head>
  <body hx-ext="response-targets">
    <h1>Hello, World!</h1>
    <div id="puzzle"></div>
    <script>
    </script>



    <div class="container-fluid" id="mainSpace">
      <div class="row">
        <div class="col-md-8 bg-light shadow p-3">
          <!-- Left side content -->
        </div>
        <div class="col-md-4 bg-light shadow p-3">
          <!-- Right side content -->
        </div>
      </div>
    </div>

    <button type="button" id="Refresh" class="btn btn-primary">Refresh</button>


    <button type="button" hx-get="/bestNextStep" hx-target="#mainSpace" id="BestNextStep" class="btn btn-primary">Best Next Step</button>

    <div class="container">
      <h4>Upload eprime/essence + param</h4>
      <form id="fileUploadForm" hx-encoding="multipart/form-data" hx-post="/uploadPuzzle" hx-target="#uploadMessage" hx-target-error="#uploadMessage">
        <div class="mb-3">
          <label for="fileInput" class="form-label">Select files to upload:</label>
          <input type="file" class="form-control" id="fileInput" name="filelist" multiple />
        </div>
        <button type="submit" id="uploadButton" class="btn btn-primary">Upload</button>
        <div id="uploadMessage">uploadMessage</div>
      </form>
    </div>


    <div id="infoBox"><p>Info</p></div>
  </body>

</html>